#searchLight {
  /*border: 8px solid red;*/
}

#searchLightBlurredBackground {
  /*background-color: transparent !important;*/
  /*background-color: rgba(255, 255, 255, 0.5) !important;*/
  border: 20px !important;
}

#searchLightBox {
  padding: 14px;
  /*border-radius: 16px;*/
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#searchLightBox * {
  font-size: 14pt !important;
}

#searchLightBox.light * {
  color: black;
}

#searchLightBox > StEntry.slc:focus,
#searchLightBox > StEntry.slc {
	margin-top: 0px !important;
  margin-bottom: 20px !important;
	border-radius: 8px;
  border: 0px !important;
  border-width: 0px !important;
  background: rgba(0,0,0,0);
  font-size: 20pt !important;
}

#searchLightBox .app-well-app {
  /*border: 2px solid red;*/
}

#searchLightBox.light StBoxLayout.search-section-content *:focus,
#searchLightBox.light StBoxLayout.search-section-content {
  background: rgba(50,50,50,0.10) !important;
}

#searchLightBox StBoxLayout.search-section-content *:focus,
#searchLightBox StBoxLayout.search-section-content {
  background: rgba(100,100,100,0.20) !important;
}

#searchLight.border-radius-0 #searchLightBlurredBackground,
#searchLight.border-radius-0 StBoxLayout.search-section-content,
#searchLight.border-radius-0,
#searchLightBox.border-radius-0 {
  border-radius: 0px !important;
}

#searchLight.border-radius-1 #searchLightBlurredBackground,
#searchLight.border-radius-1 StBoxLayout.search-section-content,
#searchLight.border-radius-1,
#searchLightBox.border-radius-1 {
  border-radius: 8px !important;
}

#searchLight.border-radius-2 #searchLightBlurredBackground,
#searchLight.border-radius-2 StBoxLayout.search-section-content,
#searchLight.border-radius-2,
#searchLightBox.border-radius-2 {
  border-radius: 16px !important;
}

#searchLight.border-radius-3 #searchLightBlurredBackground,
#searchLight.border-radius-3 StBoxLayout.search-section-content,
#searchLight.border-radius-3,
#searchLightBox.border-radius-3 {
  border-radius: 20px !important;
}

#searchLight.border-radius-4 #searchLightBlurredBackground,
#searchLight.border-radius-4 StBoxLayout.search-section-content,
#searchLight.border-radius-4,
#searchLightBox.border-radius-4 {
  border-radius: 24px !important;
}

#searchLight.border-radius-5 #searchLightBlurredBackground,
#searchLight.border-radius-5 StBoxLayout.search-section-content,
#searchLight.border-radius-5,
#searchLightBox.border-radius-5 {
  border-radius: 28px !important;
}

#searchLight.border-radius-6 #searchLightBlurredBackground,
#searchLight.border-radius-6 StBoxLayout.search-section-content,
#searchLight.border-radius-6,
#searchLightBox.border-radius-6 {
  border-radius: 32px !important;
}

#searchLight.border-radius-7 #searchLightBlurredBackground,
#searchLight.border-radius-7 StBoxLayout.search-section-content,
#searchLight.border-radius-7,
#searchLightBox.border-radius-7 {
  border-radius: 48px !important;
}